.flex-container {
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */
.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 2 */
.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.flex-container-2 .flex-item {
  flex: 0 80px 0;
}

/* Flex Container 3 */

/* use height: 400px; on the container */
.flex-container-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  height: 400px;
  justify-content: space-between;
}

/* Flex Container 4 */
.flex-container-4 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 10px;
  height: 400px;
}

.flex-container-4 .flex-item {
  width: 150px;
  height: 70px;
}

.flex-container-4 .item6 {
  margin-left: 45px;
}

.flex-container-4 .item7 {
  margin-left: 92px;
}

.flex-container-4 .item8 {
  margin-left: 130px;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  align-items: center;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 270px;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 350px;
}

.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7 {
  height: 180px;
}

/* Flex Container 6 */
.flex-container-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  gap: 10px;
}

.flex-container-6 .flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  font-size: 20px;
}

/* use height: 300px; on the container */
